.hooter {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 20vh;
    background-color: black;
}

.hooter-note {
    color: white;
    text-align: center;
    margin-top: 2vh;
    font-size: 1.9vh;
    line-height: 3.5vh;
    font-weight: bold;
}

.fountain {
    height: 20vh;
    position: absolute;
    bottom: 0;
}