.our-saunas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7vh;
    margin-top: 4vh;
    user-select: none;
}

.our-saunas-text {
    font-family: "Great Vibes", cursive;
    font-size: 6vh;
}

.divider {
    height: 6vh;
    -webkit-user-drag: none;
}

.objects-container {
    display: grid;
    grid-template-columns: 70vh 70vh;
    gap: 15vh;
    width: 100%;
    height: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
}

.object {
    height: wrap;
}

.info-container {
    color: white;
    font-family: "Reggae One", Arial;
    font-size: 3.5vh;
    width: wrap;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.beautiful-picture {
    width: 100%;
}

.address {
    font-size: 4.5vh;
    font-family: "Roboto Slab", serif;
    margin-bottom: 0.7vh;
}

.divider-main-page {
    width: 100%;
    margin-bottom: 1vh;
}

.pusher {
    margin-bottom: 1.5vh;
}

.button-container {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: center;
    bottom: 0;
    transform: translateY(110%);
}

.decorative-line {
    flex: 1;
    height: 3vh;
    background-color: black;
}

.icon-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    margin-top: 2vh;
}

.pin-icon {
    height: 3.4vh;
}

.quantity {
    color: grey;
    font-size: 2.5vh;
    margin-bottom: 2vh;
    font-family: Roboto, Arial;
}

.object-info {
    margin: 0;
    font-family: Roboto, Arial;
    font-size: 2.5vh;
    font-weight: 300;
}

.distance {
    margin-bottom: 1vh;
}

.distance2 {
    margin-bottom: 3.5vh;
}

.divider-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.curiosity-button {
    font-family: "Roboto Slab", serif;
    font-size: 2vh;
    padding: 1vh;
    border: solid black 0.25vh;
    border-radius: 0.6vh;
    user-select: none;
    color: black;
    text-decoration: none;
}

@media (max-width: 1500px) {
    .objects-container{
        grid-template-columns: 80vh;
        padding-bottom: 7vh;
    }
}

@media (max-width: 1000px) {
    .objects-container{
        grid-template-columns: 70vh;
    }
}

@media (max-width: 900px) {
    .objects-container{
        grid-template-columns: 65vh;
        gap: 12vh;
    }
}

@media (max-width: 800px) {
    .objects-container{
        grid-template-columns: 60vh;
        gap: 10vh;
    }

    .object-info {
        font-size: 2.4vh;
    }
}

@media (max-width: 700px) {
    .objects-container{
        grid-template-columns: 50vh;
        gap: 10vh;
    }

    .object-info {
        font-size: 2.3vh;
    }
}

@media (max-width: 600px) {
    .objects-container{
        grid-template-columns: 45vh;
        gap: 10vh;
    }

    .address {
        font-size: 4vh;
    }

    .pin-icon {
        height: 3vh;
    }

    .object-info {
        font-size: 2.3vh;
    }
}
